html,
body {
  height: 100%;
  margin: 0;
  font-family: NanumGothic, '나눔고딕', '나눔 고딕', NanumGothicWeb;
  color: #333;
}
header {
  width: 100%;
  height: 46px;
  font-size: 1em;
  background-color: #536dfe;
}
